/*--------
Font
----------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'Rotonto';
  src: url('../webfonts/RotontoTrial-Bold.woff');
}

/*--------
Global
----------*/
:root {
  --blu: #3036F5;
  --giallo: #FFBD12;
  --nero: #000000;
  --bianco: #FFFFFF;
  --rosso: #FF8764;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1em;
  font-optical-sizing: auto;
  overflow-x: hidden !important;
  max-width: 100% !important;
  min-width: 100% !important;
  overscroll-behavior: contain;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease-out;
}

img:hover {
  transform: rotate(5deg);
  transition: all 0.3s ease-out;
}

ul {
  list-style: none;
}

.testo-blu {
  color: var(--blu);
}

.testo-giallo {
  color: var(--giallo);
}

.testo-bianco {
  color: var(--bianco);
}

::selection {
  color: var(--rosso);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--rosso);
}

.btn-1 {
  background-color: var(--blu);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  color: var(--bianco);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.16px;
  border: 2px solid transparent;
  margin-top: 2%;
}

.btn-1:hover {
  background-color: var(--giallo);
  color: var(--blu);
  border: 2px solid var(--blu);
}

button:focus {
  outline: none !important;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
}

/*--------
Navbar
----------*/
.navbar {
  background-color: var(--blu);
  padding: 0;
  z-index: 100;
}

.navbar>.container {
  padding: 10px 0px;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Rotonto';
  color: var(--bianco);
  transition: all 0.3s ease-out;
}

.navbar-brand:hover {
  transform: rotate(5deg);
  transition: all 0.3s ease-out;
  color: var(--bianco) !important;
}

.navbar .nav-item {
  margin-left: 40px;
}

.navbar .nav-item .nav-link {
  font-size: 18px;
  color: var(--bianco);
  padding: 2px 0;
  position: relative;
  transition: all 0.3s ease-out;
}

/*--------Animazione navbar----------*/
.navbar .nav-item .nav-link:hover {
  transform: rotate(-5deg);
  transition: all 0.3s ease-out;
}

/*--------
Butter fix
----------*/
#butter {
  overflow-x: clip;
}

/*--------
Home
----------*/
.home {
  min-height: 100vh;
  padding: 100px 0;
  background-color: var(--giallo);
  overflow-x: hidden;
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 30px;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
}

.home .btn-1 {
  margin-top: 40px;
}

.home .home-btn .video-play-btn {
  margin-left: 30px;
  height: 50px;
  width: 50px;
  padding: 0;
}

.home .home-btn .video-play-btn i {
  line-height: 47px;
}

.home-img img {
  max-width: fit-content;
  width: 100%;
  position: relative;
  padding: 8%;
}

/*--------
Video Pop-up
----------*/
.video-popup {
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.video-popup.open {
  opacity: 1;
  visibility: visible;
}

.video-popup-inner {
  width: 100%;
  max-width: 900px;
  position: relative;
}

.video-popup .video-popup-close {
  position: absolute;
  right: 0;
  top: -30px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: var(--bianco);
}

.video-popup .iframe-box {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-popup #player-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*--------
Chi siamo
----------*/
#chi-siamo {
  min-height: 60vh;
  padding: 100px 0;
  background-color: var(--blu);
  overflow-x: hidden;
}

.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 30px;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
}

.home-img img {
  max-width: fit-content;
  width: 100%;
  position: relative;
  padding: 8%;
}

/*--------
Chi siamo>Mappa
----------*/
.sezione-mappa {
  min-height: 80vh;
}

.map-box {
  padding-top: 5%;
  padding-bottom: 5%;
}

#map {
  position: inherit;
  width: auto;
  height: 600px;
  z-index: 1;
  border-radius: 20px;
}

/*--------
Cosa>utente
----------*/
#come-funziona {
  background-color: var(--giallo);
}

.come-utente {
  min-height: 90vh;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  border: none !important;
  max-width: 500px;
  text-align: center;
  margin: 5%;
}

.card-img-bottom {
  padding: 15%;
}

.card-text {
  font-size: 20px;
}

.section-title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}

/*--------
Cosa>screenshot
----------*/
.sezione-screenshot {
  min-height: 80vh;
}

.screenshot-text {
  margin-bottom: 5%;
}

.screeshot-item {
  margin: 15px;
}

.screeshot-item img {
  width: 100%;
  display: block;
  margin: auto;
}

/*--------
Download
----------*/
#download {
  min-height: 100vh;
  padding: 100px 0;
  background-color: var(--giallo);
  overflow-x: hidden;
}
}

.ios {
  margin-bottom: 2%;
}

/*--------
Footer
----------*/
footer {
  background-color: var(--blu);
  color: var(--bianco);
}

footer h5 {
  font-weight: 700;
}

footer p {
  font-weight: 300;
}

.p-4 {
  padding: 2.5rem !important;
}

/*--------
Responsive
----------*/
@media(max-width: 991px) {
  body {
    overflow-x: hidden;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .navbar-toggler {
    color: var(--bianco);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 25px;
  }

  .navbar-nav {
    background-color: var(--blu);
  }

  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }

  .navbar .navbar-shrink .navbar-nav {
    background-color: var(--blu)
  }

  .navbar .nav-item .nav-link:hover {
    transform: none;
  }

  .home-text h1 {
    font-size: 40px;
  }

  .home-img img {
    max-width: fit-content;
    width: 100%;
    position: relative;
    padding: 0%;
  }

  .section-title h1 {
    font-size: 40px;
  }
}

@media(max-width: 767px) {
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .home-text {
    margin-bottom: 80px;
    margin-top: 70px;
  }

  .home-img img {
    max-width: fit-content;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 8%;
  }

  .section-title {
    margin-top: 70px;
  }
}

@media(max-width: 575px) {
  body {
    overflow-x: hidden !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .navbar>.container {
    margin-left: 4%;
    margin-right: 4%;
  }

  .home-text h1 {
    font-size: 35px;
  }

  .home-text p {
    font-size: 16px;
  }

  .home-img img {
    max-width: fit-content;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 8%;
  }

  .section-title h1 {
    font-size: 35px;
  }

  .card {
    margin: 15%;
  }

  .screeshot-item {
    padding: 15%;
  }
}